@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

.custom-checkbox {
  @apply appearance-none relative w-[16px] h-[16px] border border-grey-200 rounded-[3px] cursor-pointer bg-white;
}

.custom-checkbox:checked {
  @apply bg-primary-500 border-primary-500;
}

.custom-checkbox:checked::before {
  content: '✔';
  @apply absolute top-[-5.5px] text-white;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SUIT-Regular';
  font-weight: normal;
}

/* 폰트 종류 스타일 정의 */
.H1-M {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.H1-L {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.H2-M {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.H2-L {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.H3-M {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.H3-L {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.Body-M {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.Body-L {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.Caption1-M {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.Caption1-L {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.Caption2-M {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.Caption2-L {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.Caption3-M {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}

.Caption3-L {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
}

.Caption4-M {
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
}

.Caption4-L {
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  font-family: 'SUIT Variable', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */