.swiper-button-next::after, .swiper-button-prev::after {
  background-color: #F5F6F7;
  font-size: 14px !important;
}
.swiper-button-next, .swiper-button-prev {
  background-color: #F5F6F7;
  position: absolute !important;
  top: auto !important;
  bottom: 5px !important; 
  width: 20px !important;
  height: 20px !important;
  /* border-radius: 25px !important; */
  color: #3B424A !important;
  line-height: 50px !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

div.swiper-pagination.swiper-pagination-fraction {
  background-color: #F5F6F7;
  font-size: 14px;
  width: 50px; 
  height: 20px; 
  position: absolute;
  bottom: 5px; 
  left: 277px; 
  transform: translateX(-50%);
  z-index: 10;
  color: #3B424A !important;
}

.swiper-button-next {
  background-color: #F5F6F7;
  border-radius:0 10px 10px 0 ;
  right: 12px !important; 
}

.swiper-button-prev {
  background-color: #F5F6F7;
  border-radius: 10px 0 0 10px;
  left: 240px !important;
}
@media (min-width : 768px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    background-color: #F5F6F7;
    font-size: 16px !important;
  }
  .swiper-button-next, .swiper-button-prev {
    background-color: #F5F6F7;
    position: absolute !important;
    top: auto !important;
    bottom: 8px !important; 
    width: 20px !important;
    height: 24px !important;
    color: #3B424A !important;
    line-height: 50px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  div.swiper-pagination.swiper-pagination-fraction {
    font-size: 16px;
    width: 50px; 
    height: 24px; 
    position: absolute;
    bottom: 8px; 
    left: 742px; 
    transform: translateX(-50%);
    z-index: 5;
    color: #3B424A !important;
  }
  
  .swiper-button-next {
    border-radius: 0 10px 10px 0;
    right: 22px !important; 
  }
  
  .swiper-button-prev {
    border-radius: 10px 0 0 10px;
    left: 698px !important;
  }
}