.w-md-editor-toolbar {
  display: none;
}
.w-md-editor-input {
  width: 100%
}
/* .w-md-editor-toolbar li > button {
  padding: 2px;
}
.w-md-editor-toolbar li {
  margin: 0 10px;
}
.w-md-editor-toolbar li + li {
  margin: 0 10px;
}
.w-md-editor-toolbar button svg {
  width: 100%;
  height: 100%;
}
.w-md-editor-toolbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  font-size: 20px;
} */

/* .w-md-editor-toolbar ul:nth-child(2) {
  display: none;
} */

.w-md-editor-preview {
  display: none;
}
/* 
@media (max-width : 768px) {
  .w-md-editor-preview {
    display: none;
  }
  .w-md-editor-toolbar {
    display: none;
  }
}  */
